@charset "UTF-8";
.header {
    background-image: url("../../img/header_bg.png");
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;
    z-index: 20;
}

.header .flexWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
}

.header .flexWrapper .brand {
    background-image: url("../../img/title@3x.png");
    height: 45px;
    width: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.header .flexWrapper .nav {
    display: flex;
    align-items: center;
    padding-right: 9px;
}

.header .flexWrapper .nav .navItem {
    line-height: 15px;
    font-family: 'Noto Sans TC','cwTeXHei','微軟正黑體';
    font-weight: 100;
    letter-spacing: 1.5px;
    color: white;
    font-size: 16px;
    padding-left: 14px;
    padding-right: 13px;
    border-right: 2px solid white;
    text-decoration: none;
}

.header .flexWrapper .nav .navItem:first-child {
    border-left: 2px solid white;
}

.header nav.hideNav {
    display: none;
}

@media only screen and (max-width: 992px) {
    .header .flexWrapper .nav .navItem {
        font-size: 18px;
        line-height: 18px;
        font-weight: 300;
    }
}

@media only screen and (max-width: 768px) {
    .header .flexWrapper {
        flex-direction: row-reverse;
    }
    .header .flexWrapper .brand {
        max-width: 82vw;
        margin: 0;
        background-position: center;
    }
    .header .flexWrapper .nav {
        height: 100%;
        width: 18vw;
        max-width: 80px;
        border-right: 1px solid white;
        padding: 0;
        cursor: pointer;
    }
    .header .flexWrapper .nav .navItem {
        display: none;
    }
    .header .flexWrapper .nav .hamburgerButton {
        width: 18vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header .flexWrapper .nav .hamburgerButton div.stack {
        margin-bottom: 5px;
        background-color: white;
        width: 8vw;
        height: 3px;
        max-width: 30px;
    }
    .header .flexWrapper .nav .hamburgerButton div.stack:last-child {
        margin-bottom: 0;
    }
    .header.active {
        background-image: url("../../img/header_bg2.png");
    }
    .header.active .itemList {
        display: none;
    }
    .header.active .itemList .navItemWrapper {
        margin-left: 10px;
        margin-right: 10px;
        border-top: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header.active .itemList .navItemWrapper .navItem {
        font-size: 23px;
        line-height: 32px;
        padding: 10px 20px;
        display: block;
        text-decoration: none;
        color: white;
    }
    .header.active .itemList .navItemWrapper .arrowIcon {
        margin-right: 4vw;
        float: right;
        height: 12px;
        width: 12px;
        border-bottom: 3px solid white;
        border-right: 3px solid white;
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .header.active .flexWrapper {
        flex-direction: row-reverse;
    }
    .header.active .flexWrapper .nav .hamburgerButton div.stack {
        margin: 0;
        -ms-transition: 200ms ease -ms-transform;
        -webkit-transition: 200ms ease -webkit-transform;
        transition: 200ms ease transform;
    }
    .header.active .flexWrapper .nav .hamburgerButton div.stack:nth-child(2) {
        display: none;
    }
    .header.active .flexWrapper .nav .hamburgerButton div.stack:nth-child(1) {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: 3px;
    }
    .header.active .flexWrapper .nav .hamburgerButton div.stack:nth-child(3) {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: -3px;
    }
}
