@charset "UTF-8";
section.main {
    background-image: url("../../img/image_kv.png");
    height: 1700px;
    background-size: 120vw;
    background-repeat: no-repeat;
    background-position: -100px -90px;
}

section.main h1 {
    margin-top: 14px;
    color: #E2545E;
    font-family: Galdeano;
    font-size: 60px;
    text-align: center;
    letter-spacing: 2px;
}

section.main input {
    display: none;
}

section.main .weatherDateWrapper .weather {
    padding: 0px 36px;
    display: flex;
    align-items: flex-end;
}

section.main .weatherDateWrapper .weather .iconWrapper {
    height: 57px;
    margin-right: 5px;
}

section.main .weatherDateWrapper .weather .iconWrapper img {
    height: 100%;
}

section.main .weatherDateWrapper .weather .degree {
    color: white;
    font-size: 47px;
    line-height: 45px;
    font-family: 'Assistant';
    font-weight: 300;
    letter-spacing: 1px;
    margin-right: 7px;
}

section.main .weatherDateWrapper .weather .pollutionWrapper {
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 48px;
}

section.main .weatherDateWrapper .weather .pollutionWrapper div.wrap {
    display: flex;
    align-items: center;
    padding: 0px;
    padding-left: 15px;
}

section.main .weatherDateWrapper .weather .pollutionWrapper div.wrap span {
    color: white;
    font-family: 'Ubuntu';
    font-weight: 100;
    font-size: 15px;
    line-height: 12px;
    padding-right: 12px;
    letter-spacing: 1px;
}

section.main .weatherDateWrapper .weather .pollutionWrapper div.wrap span.zh_tw {
    font-family: 'Noto Sans TC';
    font-weight: 100;
    letter-spacing: 2px;
}

section.main .weatherDateWrapper .weather .pollutionWrapper div.wrap .colorDot {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: yellow;
}

section.main .weatherDateWrapper .weather .pollutionWrapper div.wrap .dotGreen {
    background-color: #64f247;
}

section.main .weatherDateWrapper .date {
    border: 2px solid cyan;
}

@media only screen and (max-width: 992px) {
    section.main {
        background-size: 1500px;
    }
    section.main h1 {
        font-size: 75px;
    }
    section.main .weatherDateWrapper {
        transform: scale(1.175);
    }
    section.main .weatherDateWrapper .weather {
        padding: 0;
        justify-content: center;
    }
    section.main .weatherDateWrapper .date {
        padding: 0;
    }
}

/* Custom, iPhone Retina */
/* 至少 320px 時，也就是大於 320px */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
