@import url('https://fonts.googleapis.com/css?family=Galdeano');

@import url('https://fonts.googleapis.com/earlyaccess/cwtexhei.css');

@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400');

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');

@import url('http://fonts.googleapis.com/earlyaccess/notosanstc.css');

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300');

@import url('https://fonts.googleapis.com/css?family=Doppio+One|Gurajada|Jockey+One|Reem+Kufi|Timmana');

@font-face {
    font-family: 'bangla_mnbold';
    src: url('fonts/banglamn-bold-webfont.woff2') format('woff2'),
         url('fonts/banglamn-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bangla_mnregular';
    src: url('fonts/banglamn-webfont.woff2') format('woff2'),
         url('fonts/banglamn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
